* {
  margin: 0;

  font-family: "Open Sans", sans-serif;
}
/* Header and navigation style */
.r-color {
  color: #fd6e0a;
}
.btn {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  padding: 18px 35px;
  background: #fd6e0a;
  height: 64px;
  border-radius: 5px;
}
.header {
  background: #fff8f3;
  background-image: url(./images/header_bg.png), url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 50px;
}
/* Banner style */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.b_title {
  color: #181818;
  font-weight: 600;
  font-size: 75px;
}
.b_sub {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.des {
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.b_c {
  align-items: center;
}
/* Main sec */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section */
.about {
  margin-top: 130px;
  background: #fdddc6;
  border-radius: 10px;
  padding: 130px 150px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.sec-title {
  margin-bottom: 30px;
}
.about-para {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.info {
  display: flex;
  justify-content: space-around;
}
.a_info .info-title {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
}
info-foot {
  color: #474747;
  font-weight: 700;
  font-size: 5px;
}
